<div class="in_center">
	<h1>Choose</h1>
</div>
<section class="round">
	<p><%= @welcome %></p>
	<%= link_to image_tag("choose2.png", :alt => "Play", :class => "in_center round"), play_path %>
	<p>What gift do you like to play for?</p>
</section>