<div class="in_center">
	<h1>Play</h1>
</div>
<section class="round">
	<p>After the video will end, check your luck...</p>
	<nav class="button">
		<%= link_to "you Win", win_path %>
	</nav>
</section>
