<div class="in_center">
	<h1>Play</h1>
</div>
<section class="round">
	<%= image_tag("view1.png", :alt => "View", :class => "in_center round") %>
	<p>After the video will end, check your luck...</p>
	<nav class="button">
		<%= link_to "you Win", win_path %>
	</nav>
</section>
