<div class="in_center">
	<h1>Share</h1>
</div>
<section class="round">
	<%= image_tag("share.png", :alt => "Share", :class => "in_center round") %>
	<p>Please share this game with your friends.</p>
	<nav class="button">
		<%= link_to "try again", choose_path %>
	</nav>
</section>
